.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url(https://avatars.dzeninfra.ru/get-zen_doc/35845/pub_6311aab3a0da4a1340537a93_6311ae1db39c8f0cdd11dda1/scale_1200);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}
        
.jump {
            animation: jump 0.3s linear;
        } 
        
@keyframes jump {
            0% {
                top: 150px;
            }
        
            30% {
                top: 130px;
            }
        
            50% {
                top: 80px;
            }
        
            80% {
                top: 130px;
            }
        
            100% {
                top: 150px;
            }
        }

 @keyframes cactusMov {
    0% {
    left: 580px;
     }
     100% {
        left: -20px;
     }
} 
.cactus{
    animation: jump 0.3s linear;
}
 @keyframes jump {
    0% {
        top: 150px;
    }
    30%{
        top: 130px;
    }
    50% {
         top: 80px;
    }
    80% {
         top: 130px;
     }
    100% {
        top: 150px;
    }
} 